<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="ConnectionString" value="Data Source=112.216.9.51, 1433;Initial Catalog=ALONNEW;User Id=sa;Password=1q2w#E$R;Trusted_Connection=False;"/>-->
    <add key="Comport" value="0" />
    <add key="Timeout" value="300" />
    <add key="LastFile" value=".\Data\Config.xml" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>